.mynav{	
	background-color: #000000;
	border: none;
	border-radius: 0;
	padding-right: 20px;
	margin-bottom: 0;
}
.mynav ul{
	padding-top: 10px;
}
.mynav ul img{
	margin-top: -20px;
}
.mynav ul span img{
	margin-top: 0;
}
.navbar li a{
	color: #fff!important;
}
.mydiv{
	margin-top: 20px;
}
.main{
	margin-top: 50px;
}
.color{
	width: 100%;
	background-color: #fff!important;
}
.mydiv input{
	border: none;
	background-color: #000000;
	border-bottom: 1px #fff solid;
	color: #fff;
}
.mydiv li{
	padding-right: 20px;
}
.mydive p{
	padding-bottom: 15px;
	border-bottom: 1px #737373 solid;
}
.mydive p a{
	text-align: center;
	margin-right: 25px;
	margin-left: 25px;
	font-size: 20px;
}
.navbar-nav{
	color: #fff;
}
.first{
	margin-top: 40px;
	border-bottom: 1px #E2E2E2 solid;
}
.first span{
	margin-top: 20px;
}
.first a{
	display: block;
	line-height: 52px;
}
.second{
	margin-top: 10px;
	margin-bottom: 70px;
}
.second span{
	margin-top: 20px;
}
.second a{
	display: block;
	line-height: 52px;
}
.third{
	background-color: #E2E2E2;
}
.fourth{
	margin-top: 74px;
}
.fourth dl{
	background: #fff;
}
.fourth p{
	line-height: 32px;
	margin-top: 10px;
	margin-left: 22px;
}
.fourth p span{
	margin-right: 57px;
}
/*.pagination > li > a, 
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
}*/
.footer{
	margin-top: 50px;
}
.footer p{
	font-size: 16px;
	color: #000;
}
.footer .ull{
	padding-top: 17px;
	padding-bottom: 33px;
	border-bottom: 1px solid #eaeaea;
}
.ull a{
	color: #999;
	padding-right: 34px;
	cursor: pointer;
}
table{
	border: none;
}
.table tr td{
	border: none!important;
}
.bott{
	margin-top: 50px;
	background: #fafafa;
}
.bott p{
	line-height: 45px;
}
.mydia a{
	margin: 14px;
}

.size a{
	font-size: 18px;
	margin-right: 20px;
	padding-top: 50px;
}
.course-career-others {
    position: absolute;
    bottom: 20px;
    /*right: 90px;*/
    overflow: hidden;
}
.course-career-others li {
    position: relative;
    float: left;
    padding: 0 10px;
    color: #b7b9bd;
}
.colBlue {
    color: #188eee;
}
